$primaryColor: #666;
@font-face {
    font-family: 'Open Sans';
    src: url('/fonts/OpenSans-Light.ttf');
}

body, html{
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Open-Sans', sans-serif;
}
h2{
    text-align: center;
    color: $primaryColor;
}
p{
    color: $primaryColor;
    text-align: center;
    line-height: 2.5;
}

.bg1{
    background-image: url('/images/image1.jpg');
    min-height: 100%;
}
.bg2{
    background-image: url('/images/image2.jpg');
    min-height: 100%;
}
.bg3{
    background-image: url('/images/image3.jpg');
    min-height: 100%;
}
.bg1,.bg2,.bg3{
    position: relative;
    opacity: 0.7;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.text-container{
    color:#000;
    position: absolute;
    width: 100%;
    top:50%;
    font-size: 27px;
    letter-spacing: 8px;
    margin:0 auto;
    text-align: center;
    span{
        color:#fff;
        background-color: #111;
        padding: 20px;
    }
}
.section{
    padding:50px 80px
}
.section-light{
    background-color: #f4f4f4;
}
.section-dark{
    background-color: #282e34;
}